## What is a function?

Self-contained block of code that encapsulates a specific task or related group of tasks

## Why bother defining function?

* Reusability (silly exmaple witha  list
* Abstraction (HTTP Reques)
* Modularity (example of Brewer)
* Namespace Separation

In [10]:
delta = 45

def add_delta(nums, delta):
    
    for i, num in enumerate(nums):
        nums[i] = nums[i] + delta
    

nums = [1,2,3,4]
my_first_function(nums, 10)
nums

[11, 12, 13, 14]

## Function Calls and Definition

```def <function_name>([<parameters>]):
    <statement(s)>```

In [18]:
weird_string = """Here   is   a   string   with   too234much space and234numbers"""

import re
import datetime

def clean_phrase(phrase):

    phrase = phrase.replace('234', ' ')
    phrase = phrase.replace('   ', ' ')
    
    return phrase

In [17]:
clean_phrase(weird_string)

'Here is a string with too much space and numbers'

#### Parameters are optional

In [23]:
def print_todays_date():
    print(datetime.datetime.now().date())

In [24]:
print_time_now()

2022-11-15

#### A temporary placeholder

In [25]:
def f():
    pass

## Argument Passing

#### Positional Arguments
The most straightforward way to pass data to a function, but they also afford the least flexibility
* Order must be matched
* Number of arguments must be matched

In [33]:
def f(qty, item, price):
    print(f'{qty} {item}s cost ${price*qty:.2f}')

In [34]:
f(6, 'banana', 0.25)

{'qty': 6, 'item': 'banana', 'price': 0.25}
6 bananas cost $1.50

In [35]:
f(0.25, 'banana', 6)

{'qty': 0.25, 'item': 'banana', 'price': 6}
0.25 bananas cost $1.50

The order of the arguments in the call must match the order of the parameters in the definition

In [36]:
def f(qty, item, price):
    print(locals()) # prints the function's namespace
    print(f'{qty} {item}s cost ${price*qty:.2f}')
f(0.25, 6, 'banana')

{'qty': 0.25, 'item': 6, 'price': 'banana'}

TypeError: can't multiply sequence by non-int of type 'float'

The arguments in the call and the parameters in the definition must agree not only in order but in number as well

In [38]:
f(0.25, 'banana')

TypeError: f() missing 1 required positional argument: 'price'