## What is a function?

Self-contained block of code that encapsulates a specific task or related group of tasks

## Why bother defining function?

1. Reusability
2. Abstraction
3. Modularity
4. Namespace Separation

2. Abstraction

In [1]:
import math

In [2]:
math.factorial(5)

120

3. Modularity

In [5]:
# Main program

# Code to read file in
<statement>
<statement>
<statement>
<statement>

# Code to process file
<statement>
<statement>
<statement>
<statement>

# Code to write file out
<statement>
<statement>
<statement>
<statement>

In [ ]:
# Main program
read_file()
process_file()
write_file()

4. Namespace Separation

In [6]:
delta = 45

def add_delta(nums):
    delta = 10
    for i, num in enumerate(nums):
        nums[i] = nums[i] + delta
    

nums = [1,2,3,4]
add_delta(nums)
nums

[11, 12, 13, 14]

In [7]:
print(delta)

45

## Function Calls and Definition

```def <function_name>([<parameters>]):
    <statement(s)>
    return <something if you wish>```

In [8]:
weird_string = """Here   is   a   string   with   too234much space and234numbers"""

import re
import datetime

def clean_phrase(phrase):

    phrase = phrase.replace('234', ' ')
    phrase = phrase.replace('   ', ' ')
    print(phrase)

In [9]:
clean_phrase(weird_string)

Here is a string with too much space and numbers

#### Parameters are optional

In [12]:
def print_todays_date():
    print(datetime.datetime.now().date())

In [13]:
print_todays_date()

2022-11-16

#### A temporary placeholder

In [14]:
def f():
    pass

## Argument Passing

#### Positional Arguments
The most straightforward way to pass data to a function, but they also afford the least flexibility
* Order must be matched
* Number of arguments must be matched

In [15]:
def f(qty, item, price):
    print(f'{qty} {item}s cost ${price*qty:.2f}')

In [16]:
f(6, 'banana', 0.25)

6 bananas cost $1.50

In [17]:
f(0.25, 'banana', 6)

0.25 bananas cost $1.50

The order of the arguments in the call must match the order of the parameters in the definition

In [18]:
def f(qty, item, price):
    print(locals()) # prints the function's namespace
    print(f'{qty} {item}s cost ${price*qty:.2f}')
f(0.25, 6, 'banana')

{'qty': 0.25, 'item': 6, 'price': 'banana'}

TypeError: can't multiply sequence by non-int of type 'float'

The arguments in the call and the parameters in the definition must agree not only in order but in number as well

In [19]:
f(0.25, 'banana')

TypeError: f() missing 1 required positional argument: 'price'

Nor can you specify extra ones:

In [20]:
f(6, 'bananas', 1.74, 'grapes')

TypeError: f() takes 3 positional arguments but 4 were given

#### Keyword Arguments

In [21]:
def f(qty, item, price):
    print(f'{qty} {item}s cost ${price*qty:.2f}')

In [22]:
f(qty=6, item='bananas', price=0.25)

6 bananass cost $1.50

Each `keyword` must match a parameter in the Python function definition.

In [23]:
f(qty=6, item='bananas', cost=0.25)

TypeError: f() got an unexpected keyword argument 'cost'

In [24]:
f(item='bananas', qty=6, price=0.25)

6 bananass cost $1.50

#### Using both
Keyword arguments must follow positional arguments

In [25]:
f(6, 'bananas', price=0.25)

6 bananass cost $1.50

In [26]:
f(6, price=0.25, 'bananas')

SyntaxError: positional argument follows keyword argument (1662042392.py, line 1)

No argument may receive a value more than once

In [27]:
fruit = 'apple'
f(6, fruit, item = 'bananas')

TypeError: f() got multiple values for argument 'item'

## Default Parameters

In [28]:
def raise_to_power(num, power=2):
    print(num**power)

In [29]:
raise_to_power(2)

4

In [30]:
raise_to_power(2, 3)

8

In [31]:
raise_to_power(num=2, power=3)

8

In [32]:
raise_to_power(power=3, num=2)

8

In [33]:
raise_to_power(3, 2)

9

## Mutable Default Parameter Values

In [34]:
def f(a, my_list = []):
    my_list.append(a)
    return my_list

In [35]:
f(2)

[2]

In [36]:
f(3)

[2, 3]

In [37]:
f(4)

[2, 3, 4]

In [38]:
def f(a, my_list = []):
    print(id(my_list))
    my_list.append(a)
    print(my_list)
    print()
    
f(2)
f(3)
f(4)

1995222315392
[2]

1995222315392
[2, 3]

1995222315392
[2, 3, 4]

#### Mutable Default Parameter Values - The correct way

https://pythontutor.com/visualize.html#mode=edit

In [39]:
def f(a, my_list = None):
    if my_list is None:
        my_list = []
    my_list.append(a)
    print(my_list)
    
f(2)
f(3)
f(4)

[2]
[3]
[4]

## Passing by what?

Python passes values by assignment. If you understand assignment, you understand arguments passing.

In [40]:
x = 12

def f(y):    
    print(f'y references object @: {id(y)}')
    y = y + 5 
    print(f'y references object @: {id(y)}')

print(id(x))
f(x)

1995113300560
y references object @: 1995113300560
y references object @: 1995113300720

In [41]:
x = [12, 10, 8, 4]

def f(y):    
    print(f'y references: {id(y)}')
    y[0] = 44 
    print(f'y references: {id(y)}')
    
print(id(x))
f(x)
x

1995222316288
y references: 1995222316288
y references: 1995222316288

[44, 10, 8, 4]

The only difference here is that a list is mutable whereas an integer is not.

In [42]:
def f(x):
    x = 'foo'

my_list = ['foo', 'bar', 'baz', 'qux']
f(my_list)
my_list

['foo', 'bar', 'baz', 'qux']

## Side Effects

A function that causes change in the calling environment.

In [43]:
def double_list(x):
    for i, n in enumerate(x):
        x[i] = n*2

In [44]:
x = [1,2,3,4,5]
double_list(x)
x

[2, 4, 6, 8, 10]

In [45]:
def double_list(x):
    r = []
    for n in x:
        r.append(n*2)
        
    return r

x = [1,2,3,4,5]
double_list(x)
x

[1, 2, 3, 4, 5]

In [46]:
x = double_list(x)
x

[2, 4, 6, 8, 10]

## The `return` Statement

```def <function_name>([<parameters>]):
    <statement(s)>
    return <something if you wish>```

Serves two purposes:

1. It immediately terminates the function and passes execution control back to the caller.
1. It provides a mechanism by which the function can pass data back to the caller

In [47]:
def raise_to_power3(num):
    num = num**3

In [48]:
my_number = 4
my_number_cubed = raise_to_power3(my_number)
my_number_cubed

In [49]:
print(my_number_cubed)

None

In [50]:
def raise_to_power3(num):
    num = num**3
    return num

my_number_cubed = raise_to_power3(my_number)
my_number_cubed

64

In [51]:
def raise_to_power3(num):
    return num**3

my_number_cubed = raise_to_power3(my_number)
my_number_cubed

64

In [52]:
def f(x):
    if x < 0:
        print('x is negative!')
        return abs(x)
    
    if x > 0:
        print('x is positive')
        return
    
    print('I am here at the bottom')

In [53]:
f(12)

x is positive

In [54]:
f(-10)

x is negative!

10

## Multiple return values

In [55]:
def f():
    return ('foo', 'bar', 'baz', 'qux')

In [56]:
a = f()

In [57]:
a

('foo', 'bar', 'baz', 'qux')