# Lists

A list is a collection of arbitrary objects, much like an array in other
programming languages

In [1]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
type(cities)

list

* Lists are ordered

In [2]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
cities2 = ['Austin', 'Dallas', 'San Antonio', 'Houston']

In [3]:
cities == cities2

False

* Lists can contain any arbitrary objects

In [4]:
project_numbers = [11424, 12345, 12407, 11776]

In [5]:
a_complex_list = [147, 'Sony', [12.5, 435], sum, abs]

In [6]:
a_complex_list[-1](-41)

41

* A list can contain any number of objects

In [7]:
list1 = [1,2,3,4]
list2 = []
list3 = list(range(0,100_000))

In [8]:
type(list1) == type(list2) == type(list3)

True

* List elements can be accessed by index and also sliced

`mylist[m]` \
`mylist[m:n]` Starting with position *m* and up to but not including position *n*

In [9]:
project_numbers = [1111, 2222, 3333, 5554]
project_numbers[2]

3333

In [10]:
project_numbers[0:2] # same as project_numbers[:2]

[1111, 2222]

In [11]:
projects = project_numbers[:]

In [12]:
projects == project_numbers

True

In [13]:
id(projects) == id(project_numbers)

False

In [14]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list1[::2]

[0, 2, 4, 6, 8]

In [16]:
id(list1[::-1])

2515330217984

* Lists can be nested to arbitrary depth

In [17]:
my_list=[[1,2],[3,4],[5,6,7]]
len(my_list)

3

In [18]:
my_list[2][1]

6

* Lists are mutable

In [19]:
my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]

In [20]:
my_list[0] = 888

In [21]:
my_list

[888, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
my_name = 'lorenzo' # my_name.title()

In [23]:
my_name[0] = 'L' # an error in purpose

TypeError: 'str' object does not support item assignment

In [24]:
my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]

In [25]:
my_list[3:5] = ['Hello', 'Wonderful', 'World', '!', ]

In [26]:
my_list

[1, 2, 3, 'Hello', 'Wonderful', 'World', '!', 6, 7, 8, 9]

* Lists are dynamic

In [27]:
my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]
my_list.extend([11,43,4321, 76])

In [28]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 43, 4321, 76]

## Lists Operators

* `in` and `not in` membership operator

In [ ]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
'El Paso' in cities

* `+` Concatenation
* `*` Replication  (Creates multiple concatenated copies)

In [37]:
list1 = [1,2,3,4,5,6]

In [ ]:
list2 = [10,20,30,40]

In [ ]:
list1 + list2

In [ ]:
list1 = [1,2,3,4,5,6]

In [ ]:
list1*4

## Built-in Functions

* `len()` Returns the length of the list
* `min()` or `max()` Returns the object from the list with minimum/maximum value

Note: To use min() or max() list should be homogeneous

In [ ]:
list1 = [1,2,3,4,5,6, 'golf']

## List methods

[docs](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)

In [41]:
list1 = [1,2,3,4]
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [43]:
x = list1.append(5)
print(x)

None

In [44]:
list1.extend([10, 11, 12, 13])
list1

[1, 2, 3, 4, 5, 5, 5, 10, 11, 12, 13]

In [45]:
list1 = [1,2,3,4]
list1.insert(1, 'Hello')
list1

In [46]:
list1 = [1,2,3,4]
list1.remove(3)
list1

[1, 2, 4]

In [47]:
list1 = [1,2,3,4]
list1.remove(5)
list1

ValueError: list.remove(x): x not in list

In [48]:
list1 = [1,2,3,2]
list1.remove(2)
list1

[1, 3, 2]

In [53]:
list1 = [11, 22, 33, 44]
n = list1.pop(2) # You specify the index of the item to remove, rather than the object itself.
             # The method returns a value: the item that was removed.
print(list1)
print(n)

[11, 22, 44]
33

In [59]:
list1 = [760, 796, 624, 711, 298, 486, 748, 614, 352, 908, 360, 271, 712, 327, 124]
list1.sort(reverse = True)   # sort(key, reverse)
list1

[908, 796, 760, 748, 712, 711, 624, 614, 486, 360, 352, 327, 298, 271, 124]

In [62]:
my_breakfast = ['bacon', 'Eggs', 'avocado', 'Cream cheese', 'latte']
my_breakfast.sort(key = str.upper)
my_breakfast

['avocado', 'bacon', 'Cream cheese', 'Eggs', 'latte']

# Tuples

In [ ]:
Tuples are identical to lists in all respects, except
○ Defined differently
○ Tuples are immutable
○ Unpacking and Packing