# Lists

A list is a collection of arbitrary objects, much like an array in other
programming languages

In [6]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
type(cities)

list

* Lists are ordered

In [1]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
cities2 = ['Austin', 'Dallas', 'San Antonio', 'Houston']

In [2]:
cities == cities2

False

* Lists can contain any arbitrary objects

In [ ]:
project_numbers = [11424, 12345, 12407, 11776]

In [4]:
a_complex_list = [147, 'Sony', [12.5, 435], sum, abs]

In [5]:
a_complex_list[-1](-41)

41

* A list can contain any number of objects

In [27]:
list1 = [1,2,3,4]
list2 = []
list3 = list(range(0,100_000))

In [28]:
type(list1) == type(list2) == type(list3)

True

* List elements can be accessed by index and also sliced

`mylist[m]` \
`mylist[m:n]` Starting with position *m* and up to but not including position *n*

In [11]:
project_numbers = [1111, 2222, 3333, 5554]
project_numbers[2]

3333

In [12]:
project_numbers[0:2] # same as project_numbers[:2]

[1111, 2222]

In [17]:
projects = project_numbers[:]

In [20]:
projects == project_numbers

True

In [18]:
id(projects) == id(project_numbers)

False

In [22]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list1[::2]

[0, 2, 4, 6, 8]

In [25]:
id(list1[::-1])

1872692026240

* Lists can be nested to arbitrary depth

In [30]:
my_list=[[1,2],[3,4],[5,6,7]]
len(my_list)

3

In [32]:
my_list[2][1]

6

* Lists are mutable

In [33]:
my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]

In [34]:
my_list[0] = 888

In [35]:
my_list

[888, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
my_name = 'lorenzo' # my_name.title()

In [38]:
my_name[0] = 'L' # an error in purpose

TypeError: 'str' object does not support item assignment

* Lists are dynamic

In [39]:
my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]
my_list.extend([11,43,4321, 76])

In [40]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 43, 4321, 76]

## Lists Operators

* `in` and `not in` membership operator

In [41]:
cities = ['Dallas', 'Austin', 'San Antonio', 'Houston']
'El Paso' in cities

False

* `+` Concatenation
* `*` Replication  (Creates multiple concatenated copies)

In [43]:
list1 = [1,2,3,4,5,6]

In [44]:
list2 = [10,20,30,40]

In [45]:
list1 + list2

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40]

In [46]:
list1 = [1,2,3,4,5,6]

In [48]:
id(list1)

1872695515072

In [50]:
list1* 4

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

## Built-in Functions

* `len()` Returns the length of the list
* `min()` or `max()` Returns the object from the list with minimum/maximum value
max()

my_list = [1,2,3 ,4 ,5, 6, 7, 8, 9]

# Tuples

In [ ]:
Tuples are identical to lists in all respects, except
○ Defined differently
○ Tuples are immutable
○ Unpacking and Packing