## What is a `String`?

Strings are a **fundamental data** type used to represent text.
* **Fundamental data type** canâ€™t be broken into smaller values of a different type.
* Unlike a compound data type, which are known as data structures

The string data type has a special abbreviated name in Python: *str*

In [33]:
my_name = 'Roger Federer'
type(my_name)

str

## How to create a string?
Either single quotes or double quotes can be used as long as the same type is used at the beginning and end of the string.

In [34]:
string1 = 'Hello, World' # Single Quoted
string2 = "1234"         # Double Quoted
#string3 = 'Invalid String" # Invalid

type(string1) == type(string2)

True

In [35]:
message = "I've said 17 is my favorite number."

In [36]:
empty_string = ''

*Long Strings*
PEP 8 recommends each line of Python code contain no more than 79
characters â€“ including spaces

In [37]:
string4 = '''Three single quotes'''
string5 ="""Three double quotes"""

message1 = """We'll rent a car in Las Vegas and
we'll drive from Las Vegas through Mojave National Preserve and 
possibly do a short hike on our way down."""

message2 = "We'll rent a car in Las Vegas and \
we'll drive from Las Vegas through Mojave National Preserve and \
possibly do a short hike on our way down." 

# print(message1) # See all the newline characters
# print(message2) 

repr(message1)
repr(message2)

# Syntax Error
# message = "We'll rent a car in Las Vegas and
# we'll drive from Las Vegas through Mojave National Preserve and 
# possibly do a short hike on our way down."

'"We\'ll rent a car in Las Vegas and we\'ll drive from Las Vegas through Mojave National Preserve and possibly do a short hike on our way down."'

In [38]:
print(message2)

We'll rent a car in Las Vegas and we'll drive from Las Vegas through Mojave National Preserve and possibly do a short hike on our way down.

## Four Main properties

Strings have four important properties:

1. Contain individual letters or symbols (commas, colons, ?, any valid Unicode) called **characters**
2. Have a **length** defined as the number of characters contained
3. Characters in a string appear in a sequence. Each character has a
numbered position called an **index**.
4. Strings are immutable (See below).

In [39]:
# Any Valid Unicode 
st1 = "We're #1!!!!!"
st2 = "1234"
st3 = "Ã—PÃ½Å§Ä§Ã¸Å‹Ã—"
st4 = "\U0001F600 \U0001F602" # Even emojis!
print(st4)

ðŸ˜€ ðŸ˜‚

In [40]:
len('Roger Federer')

13

In [41]:
my_name = 'Roger Federer'
print(my_name[0])
print(my_name[4])
print(my_name[-1])

R
r
r

## String Operations

### Concatenation

Joining strings together
* The + operator concatenates two strings together `string1 + string2`
* The * operator with a integer concatenates multiple copies of a string

In [42]:
string1 = "abra"
string2 = "cadabra"
magic_string = string1 + string2
magic_string

'abracadabra'

In [10]:
name = "Conor"
lastname = "Mcgregor"
fullname = name + " " + lastname
fullname

'Conor Mcgregor'

In [15]:
'myhouse' * 3

'myhousemyhousemyhouse'

In [16]:
'myhouse' * "3" # An error in purpose

TypeError: can't multiply sequence by non-int of type 'str'

### Indexing

Indexing gets a single character from a string
* Place the index number inside a pair of square brackets after the string
`my_string[3]`.
* The index count starts with zero
 * Be careful of **off-by-one** errors
* Negative Indexing is allowed

<img src=".\images\string_indexing.PNG" width=300/>

In [11]:
string1 = "Python"

assert string1[5] == string1[-1]
assert string1[-1] == string1[len(string1) - 1] # Negative indexing is convenient

In [12]:
len(string1) - 1

5

In [13]:
string1[7] # Showing an error in purpose

IndexError: string index out of range

### Slicing

To extract a portion of a string, called a substring

* Insert a colon between two index numbers `my_string[0:5]`.
 * <font color='red'>A slice of `[x:y]` starts from the character at index `x` , and goes up to, but does not include the character at the index `y` .</font>
 
 
* Omitting the index before the colon, starts with first character. `my_string[0:4] == my_string[:4]`
* Omitting the index after the colon, ends with the last character.`my_string[3:9] == my_string[3:]`
* Omitting both indexes returns the whole string `my_string[:]`.
* Negative slicing is possible

In [29]:
dessert = "apple pie"
print(dessert[0:5])
print(dessert[6:9])

apple
pie

In [31]:
 dessert[5:25]

' pie'

In [30]:
dessert[:5] + dessert[5:]

'apple pie'

In [19]:
assert dessert[0:5] == dessert[:5]
assert dessert[6:9] == dessert[6:]

In [23]:
# dessert[10] # This is an IndexError
dessert[100:140] # This is not an Error. Simply returns an empty string

''

In [ ]:
great_city = 'AUSTIN'
great_city[:3]

For slicing, indices behave more like boundaries around characters

<img src=".\images\string_slicing.PNG" width=300/>

Negative Slicing

In [26]:
filename = 'this_is_a_report.pdf'
filename[:-4]

'this_is_a_report'

In [32]:
filename[-15:-4] # Works but kind of nonsense

'is_a_report'

## String are immutable

* To alter a string, you must create a new one
* This creates a new string object through assignment

In [44]:
word = 'boil'
word[0] = 's'

TypeError: 'str' object does not support item assignment

In [46]:
word = 'boil'
word = 's'  + word[1:] # Or simply word = 'soil'
word

'soil'

## String methods

#### Capitalization & Whitespace

`.lower()` - Converts a string to all lowercase letters \
`.upper()` - Converts a string to all uppercase letters \
`.rstrip()` - Removes trailing spaces from right side of string \
`.lstrip()` - Removes preceding spaces from left side of string. \
`.strip()` - Removes whitespaces from both left and right sides.

*Whitespace* is any character that is printed as blank space. This includes things like spaces, tabs, and even line feeds, which are special characters that move output to a newline.

See [Python Library](https://docs.python.org/3/library/stdtypes.html#string-methods) for more

In [2]:
"My Name Is Pablo".lower()

'my name is pablo'

In [3]:
name = "My Name Is Pablo"
name.lower()

'my name is pablo'

#### Starting or Ending with

Determining if a string starts or ends with a particular string \
`.startswith()` \
`.endswith()`

Both are case sensitive!!

In [5]:
car_model = "Tesla"
print(car_model.startswith('t'))
print(car_model.startswith('Te'))

False
True

**Recall strings are how strings are immutable** \
Most string methods alter a string like `.upper()` and `.lower()`, but they actually return copies of the original string with those modifications.

In [6]:
name = "My Name Is Pablo"
name.lower()

'my name is pablo'

In [7]:
name

'My Name Is Pablo'

Compare that to a mutable data type like a `list`

In [11]:
my_cars = ['Audi A3', 'Ford F150', 'Aston Martin']
my_cars.append('Toyota 4Runner')

In [12]:
my_cars

['Audi A3', 'Ford F150', 'Aston Martin', 'Toyota 4Runner']

#### Find a String in a String
`.find()` - finds the location of one string within another string (a substring)

In [18]:
phrase = "Today is very hot in Austin"
phrase.find('very')

9

In [19]:
phrase.find('Atlanta')

-1

`.replace()` - replaces each instance of a substring with another string. \
`.replace(<old>, <new>)`

In [27]:
"I, do, not, like, commas".replace(",", "")

'I do not like commas'

#### The in Operator

In [21]:
s = 'foo'
s in "That's food for thought."

True

In [22]:
'z' not in 'abc'

True

#### Converting Between Strings and Lists

`.join()` \
`.partition()` \
`.split()`

In [39]:
a_list = ['foo', 'bar', 'baz', 'qux']
':'.join(a_list)

'foo:bar:baz:qux'

In [40]:
 'foo.bar'.partition('.')

('foo', '.', 'bar')

In [44]:
'1,2,3'.split(',')

['1', '2', '3']

#### Working With Strings and Numbers

`str()` - returns a string version of an object \
`int()` - converts objects into whole numbers \
`float()` - converts objects into numbers with decimal points

## Variables Into a String

In [33]:
# Motivating example - Works but cumbersome
n = 20
m = 25
prod = n * m
print('The product of', n, 'and', m, 'is', prod)

The product of 20 and 25 is 500

Using **f-strings**

In [34]:
print(f'The product of {n} and {m} is {prod}')

The product of 20 and 25 is 500

In [36]:
# Any of Pythonâ€™s  quoting mechanisms can be used to define an f-string:
print(f"The product of {n} and {m} is {prod}")
print(f'''The product of {n} and {m} is {prod}''')

The product of 20 and 25 is 500
The product of 20 and 25 is 500

They are evaluated at runtime so you can have any expressions

In [48]:
print(f"The product of {n} and {m} is {n*m}")

The product of 20 and 25 is 500

In [49]:
my_name = 'carlos sanchez'
print(f"He is {my_name.title()}")

He is Carlos Sanchez