**Iteration** means executing the same block of code over and over, potentially many times. A programming structure that implements iteration is called a **loop**.

In programming, there are two types of iteration, indefinite and definite:

* With **definite** iteration, the number of times the code block is executed is specified up front.
* With **indefinite** iteration, the code block is executed as long as some condition is met.

## The Python `for` Loop

```
for <var> in <iterable>:
    <statement(s)>
```

In [1]:
a = ['foo', 'bar', 'baz']

In [2]:
for i in a:
    print(i)

foo
bar
baz

In [3]:
for whatever in a:
    print(whatever)

foo
bar
baz

In [1]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

### Iterating Through a Dictionary

In [3]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

In [4]:
for key in d:
    print(key)

foo
bar
baz

In [6]:
for v in d.values():
    print(v)

1
2
3

In [11]:
for key, v in d.items():
    print(f'{key}: {v}')

foo: 1
bar: 2
baz: 3

### The `range()` Function

In [12]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

### The `enumerate()` function

In [23]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

### The `zip()` function

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a)

### Nested Loops

In [22]:
for greeting in ['Hello', 'Hola', 'ciao','salut']:
    for name in ['John', 'Nick', 'Julia']:
        print(greeting, name)

Hello John
Hello Nick
Hello Julia
Hola John
Hola Nick
Hola Julia
ciao John
ciao Nick
ciao Julia
salut John
salut Nick
salut Julia

### Breaking Out of a loop with `break`

In [13]:
cities = ['Austin', 'Dallas', 'San Antonio', ' Houston']

In [15]:
for i in cities:
    if i == 'San Antonio':
        break
    print(i)

Austin
Dallas

In [17]:
for num in range(10):
    for i in cities:
        if i == 'San Antonio':
            break
        print(i)
    print(num)

Austin
Dallas
0
Austin
Dallas
1
Austin
Dallas
2
Austin
Dallas
3
Austin
Dallas
4
Austin
Dallas
5
Austin
Dallas
6
Austin
Dallas
7
Austin
Dallas
8
Austin
Dallas
9

## `continue`

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

## The Python `while` Loop

```
while <expr>:
    <statement(s)>
```

In [18]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [19]:
# This never executes
n = 0
while n > 0:
    n -= 1
    print(n)

In [20]:
# This never executes
n = 0
while n > 0:
    n -= 1
    print(n)
else:
    print("Didn't execute")

Didn't execute

## Infinite Loops

In [21]:
# while True:
#     print('Hello')

0